.character-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.character-profile_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.character-profile_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.character-profile_story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.character-profile_story-box {
    resize: none;
    max-width: 20vw;
    max-height: 20vh;
}

.quiz-me {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}