.character-profile {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3rem;
}

.search_categories{
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
  }
  
  .search_categories .select{
    width: 120%;
    background-position:80% center;
  }
  
  .search_categories {
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 120%;
    position: relative;
    z-index: 10;
    font-size: 1em;
  }

.character-creator {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3rem;
}

.character-profile_info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.character-profile_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.character-profile_story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.character-profile_story-box {
    resize: none;
    max-width: 100vw;
    max-height: 100vh;
}

.character-profile_card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 25%;
  margin: 10px;
    border: 1px solid black;
}

.quiz-me {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}