@font-face {
    font-family: ring-bearer;
    src: url(../../../public/assets/fonts/ring-bearer.TTF);
}

@font-face {
    font-family: papyrus;
    src: url(../../../public/assets/fonts/papyrus.TTF);
}

.title {
    font-family: ring-bearer;
}