
.info-container {
    display: flex;
    flex-direction: column;
    padding: 2em;
}


.title {
    font-family: ring-bearer;
    font-size: 2em;
    text-align: center;
    margin-top: 40px;
}

.info-wrapper {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    

    .description {
        font-family: papyrus;
        font-size: 1.2em;
        width: 55%;
    }

    .map {
        margin-left: 40px;
    }
}

.calendar-wrapper {
    
    text-align: center;
    
    .calendar-title {
        font-family: ring-bearer;
        
    }

    .calendar-btn {
        text-decoration: none;

        .button-6 {

            align-items: center;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: .25rem;
            box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
            box-sizing: border-box;
            background-color: #242246;
            color: white;
            cursor: pointer;
            display: inline-flex;
            font-family: papyrus;
            font-size: 16px;
            font-weight: 600;
            justify-content: center;
            line-height: 1.25;
            margin-bottom: 40px;
            min-height: 3rem;
            padding: calc(.95rem - 1px) calc(1.8rem - 1px);
            position: relative;
            text-decoration: none;
            transition: all 250ms;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: baseline;
            width: auto;
        }
        
        .button-6:hover,
        .button-6:focus {
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
            background-color: #EDD396;
            color: #242246;
            
        }
        
        .button-6:hover {
            transform: translateY(-1px);
        }
        
        .button-6:active {
            background-color: #242246;
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
            color: white;
            transform: translateY(0);
        }

    }

}



