@font-face {
  font-family: ring-bearer;
  src: url(../../../public/assets/fonts/ring-bearer.TTF);
}

@font-face {
  font-family: papyrus;
  src: url(../../../public/assets/fonts/papyrus.TTF);
}

.button {
  color: #ffffff;
  font-family: papyrus;
  background-color: #242246;
  padding: 12px 25px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 0;
  border-radius: 2px;
  outline: 0;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.button:hover,
.button:active,
.button:focus {
  transform: scale(1.1);
}

.button--transparent {
  background: transparent;
  border: 0;
  outline: 0;
}

input {
  width: calc(100% - 10px);
  min-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: 0.5px;
  border: 0;
  border-bottom: 2px solid #f0f0f0;
}

input:valid {
  border-color: #000000;
}

input:focus {
  outline: none;
  border-color: #24303c;
}

.form-list__row {
  margin-bottom: 25px;
}

.form-list__row label {
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #939393;
}

// .form-list__input-inline > * {
//   width: calc(50% - 10px - 10px);
// }

.form-list__row--agree {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 12px;
}

.form-list__row--agree input {
  width: auto;
  margin-right: 5px;
}

.modal {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.modal__content h2 {
  margin-bottom: 15px;
  font-family: ring-bearer;
}

.modal__container {
  display: flex;
  max-width: 675px;
  min-height: 400px;
  margin-bottom: 35px;
  background-color: #ffffff;
  font-family: papyrus;
  border-radius: 5px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}

.modal__featured {
  position: relative;
  -ms-flex: 1;
  flex: 1;
  min-width: 230px;
  padding: 20px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.modal__circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 200%;
  width: 200%;
  background-image: url("https://img.pixers.pics/pho_wat(s3:700/FO/45/51/12/75/700_FO45511275_3814bcae8cf591fd86964bb3004e7176.jpg,466,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,246,650,jpg)/mantas-de-felpa-caballero-medieval-con-una-espada.jpg.jpg");
  // background-size: 455px;
  background-repeat: no-repeat;
  background-position: 140px 305px;
  border-radius: 50%;
  -ms-transform: translateX(-50%) translateY(-25%);
  transform: translateX(-50%) translateY(-25%);
}

.modal__content {
  -ms-flex: 3;
  flex: 3;
  padding: 40px 30px;
}
