//Estilos del componente//

.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

//Contenedor de juego//
.game-box {
  box-sizing: border-box;
  border: 2px solid #242246;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 8rem;
  width: 70%;
  height: 70%;
  background-image: url('../../../public/assets/img/papyrus-paper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

//Contenedor de la pregunta//
.question-box {
  font-family: papyrus;
  font-weight: 700;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  
}


//Contenedor con respuestas//
.choice-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 30%;
}

//Botón de respuesta//
.answer-btn {
  font-family: papyrus;
  color: #643711;
  font-size: 25px;
  width: 100%;
  background: none;
  border: none;
}

.answer-btn:hover {
  transform: scale(1.2);
  color: #442307;
}

///Estilos en línea NO TOCAR...///
.correct,
.correct:hover {
  background-color: none;
  color: #25690D;
  text-decoration: underline;
}

.wrong,
.wrong:hover {
  background-color: none;
  color: #9F3C1D;
  text-decoration: underline;
}


///...HASTA AQUÍ///

//Caja de juego terminado//
.game-over {
  box-sizing: border-box;
  border: 1px #242246 solid;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  padding: 20px;
  width: 70%;
  font-size: 25px;
  font-family: "Charm", cursive;
}

//Mensaje de puntuación//
.results {
  font-weight: 700;
  font-family: papyrus;

}

//Colores de los mensajes de puntuación//
.results-d {
  color:#9F3C1D;
}
.results-c {
  color: #C86F1D;
}
.results-b {
  color: #25690D;
}
.results-a {
  color:#48AC25;
}


.btn-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

//Botones de resultados//

.results-btn {

  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  background-color: #242246;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: papyrus;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.95rem - 1px) calc(1.8rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.results-btn:hover,
.results-btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  background-color: #EDD396;
  color: #242246;
  
}

.results-btn:hover {
  transform: translateY(-1px);
}

.results-btn:active {
background-color: #242246;
border-color: rgba(0, 0, 0, 0.15);
box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
color: white;
transform: translateY(0);
}