.NavBar-navbar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.NavBar-menu {
    display: flex;
    flex-grow: 1;
    list-style-type: none;
    justify-content: space-evenly;
}

.NavBar-menu-item {
    & a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
    }
}

