@font-face {
  font-family: ring-bearer;
  src: url(../../../public/assets/fonts/ring-bearer.TTF);
}

.navBar-wrapper {
    display: flex;
    align-items: center;

    .logo-wrapper{
        display: flex;

        .logo {
            max-width: 20%;
            margin: 10px 0px 10px;
            justify-content: flex-start;

        }
    }
    
    .navBar-menu {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        list-style-type: none;

        .navBar-menu-item {
            & a, a:hover, a:focus, a:active {
                font-family: ring-bearer;
                font-size: 1.2em;
                text-decoration: none;
                color: black;
                margin-right: 2em;
            }
        } 
        
    }

}






