@font-face {
    font-family: ring-bearer;
    src: url(../../../public/assets/fonts/ring-bearer.TTF);
  }

.NavBar-navbar {
    display: flex;
}

.logo{
    width: 50px;
}

.NavBar-menu {
    display: flex;
    flex-grow: 1;
    list-style-type: none;
    justify-content: flex-end;
}

.NavBar-menu-item {
    & a, a:hover, a:focus, a:active {
        font-family: ring-bearer;
        text-decoration: none;
        color: black;
        margin-right: 2em;
    }
} 

