@font-face {
    font-family: ring-bearer;
    src: url(../../../public/assets/fonts/ring-bearer.TTF);
}

@font-face {
    font-family: papyrus;
    src: url(../../../public/assets/fonts/papyrus.TTF);
}


.gallery-header-wrapper{

    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;

    .gallery-header_title {

        font-family: ring-bearer;
        font-size: 2.5em;
        color: rgb(0, 0, 0);
    }

    .gallery-header_subtitle{

        font-family: ring-bearer;
        font-size: 1.5em;
        color: rgb(0, 0, 0);
    }
}

.gallery-wrapper {
    position: relative;
    .decorations {
        width: 750px;
        position: absolute;
        top: -36px;
        left: -34px;
    }
}

.gallery-nav {

    .gallery-nav-next,
    .gallery-nav-prev {

        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        background-color: #242246;
        color: white;
        cursor: pointer;
        display: inline-flex;
        font-family: papyrus;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 40px 10px 20px 0px;
        min-height: 3rem;
        padding: calc(.95rem - 1px) calc(1.8rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
    }

    .gallery-nav-next:hover,
    .gallery-nav-prev:hover {
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        background-color: #EDD396;
        color: #242246;
        transform: translateY(-1px);

        
    }


    .gallery-nav-next:active,
    .gallery-nav-prev:active {
    background-color: #242246;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: white;
    transform: translateY(0);
    }

    .gallery-nav-prev::before {
        content: url('../../../public/assets/icons/arrow-prev.svg');
        margin: 7px 10px 0px 0px;
    }

    .gallery-nav-next::after {
        content: url('../../../public/assets/icons/arrow-next.svg');
        margin: 7px 0px 0px 10px;
    }

}


.gallery {
    display: flex;
    justify-content: space-between;
}

.shields {
    margin-top: 140px;
    width: 200px;
    height: 450px;
}

.gallery-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.gallery-img {
    max-width: 800px;
    max-height: 400px;

    &::before{
        content: url('../../../public/assets/icons/top-left-decoration.svg')
    }
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale (1.08);
}