
.gallery {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.gallery-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.gallery-img {
    max-width: 640px;
    max-height: 375px;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale (1.08);
}