.login-container {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 4%;
  border-radius: 4px;
  color: white;
  box-shadow: 7px 13px 37px #000;

  h2 {
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.btn-container {
    display: flex;
    gap: 15px
}

.controls {
  width: 100%;
  //   background-color: #24303c;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 21px;
}

form p {
  height: 40px;
  text-align: center;
  font-size: 21px;
  line-height: 40px;
}

.form a {
  color: white;
  text-decoration: none;
}

.form .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  margin: 16px 0;
  font-size: 16px;
}