.app {
  
}

.app-header {
  background-color: #EDD396;
  text-align: right;
}


.app-content {
  background-color: #90AA97;
  
}

.app-footer {
  position: fixed;
  height: 50px;
  background-color: #242246;
  color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
