@font-face {
  font-family: ring-bearer;
  src: url(../public/assets/fonts/ring-bearer.TTF);
}

@font-face {
  font-family: papyrus;
  src: url(../public/assets/fonts/papyrus.TTF);
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app-header {
  display: flex;
  flex-direction: column;
  background-color: #EDD396;
  text-align: right;
}


.app-content {
  background-color: #90AA97;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: black;

}

.app-footer {
  display: flex;
  font-family: papyrus;
  background-color: #242246;
  color: white;
  padding: 2em;
}

.copyright {
  color: black;
  margin-left: 22%;
}

.footer-link {
  color: #4a95ee;
  margin-right: 2%;
}

.first-link {
    margin-left: 20%;
}
