.App {
  text-align: center;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.App-Header {
  background-color: blue;
  display: flex;
}

.App-NavBar {
  display: flex;
}

.App-Content {
  background-color: beige;
  display: flex;
  flex-grow: 1;
}

.App-Footer {
  background-color: red;
  display: flex;
}
